/* General Element Styles */
body { font-size: 1em; font-family: 'Lato', sans-serif; line-height: 1.2em; }
ul { list-style-type: none; }

md-toolbar .md-toolbar-tools h2 { font-weight: 700; font-size: 1.8em; }

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

.none-found-heading { font-weight: 700; margin: 10px; }
.search-table {
  overflow-y: scroll;
  height: 400px;

  .bad-row { color: lightgray; }

  table {
    table-layout: fixed;
    width: 100%;

    thead {
      th {
        font-size: .9em;
        padding: 5px;
        font-weight: 700;

        span { color: green; }
      }
    }

    tbody {
      tr {
        &:nth-child(odd) {
          background: #ededed;
        }

        &:nth-child(even) {
          background: #dbdbdb;
        }


        td {
          line-height: 1.2em;
          font-size: .9em;
          text-align: right;
          padding: 5px;

          &.overflow-td {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }
      }
    }
  }
}

.country-link {
  color: cornflowerblue;
  cursor: pointer;
}

.search-sub-table {
  margin-top: 5px;
  margin-left: 5px;
  padding: 5px;
  border: 1px solid black;
  overflow-y: scroll;
  height: 395px;

  .sub-header {

  }

  .sub-body {
    margin-top: 10px;
  }
}

.top-container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;

  .list-by-anchor {
    text-decoration: none;

    .list-by-attr {
      height: 100px;
      border-top: 1px solid white;
      background: #EF4836;
      color: #545454;
    }

    &:hover {
      .list-by-attr {
        background: #D64541;
        color: #dbdbdb;
      }
    }

    &.selected {
      .list-by-attr {
        box-shadow: inset 0 0 10px #000000;
        background: #C0392B;
        color: white;
      }
    }
  }
}
.top-container-buttons {
  @extend .top-container;

  margin-top: 40px;

  a {
    width: 100%;
    text-decoration: none;
    text-align: center;
    background: #4DAF7C;
    color: #545454;

    div {
      width: 100%;
      padding: 20px;
    }

    &.selected:not(.hover) {
      box-shadow: inset 0 0 10px #000000;
      background: #019875;
      color: white;
    }

    &:hover {
      //box-shadow: inset 0 0 5px #000000;
      background: #03A678;
      color: #dbdbdb;
    }
  }
}

.language-table {
  td { padding: 5px; }
}

#country-info {
  .info-block { margin: 10px 0; }
  .country-flag {
    max-width: 150px;
    max-height: 150px;
    float: right;
  }

  .country-map {
    float: right;
    max-width: 400px;
    max-height: 400px;
    margin: 10px;
  }
}

.angular-google-map-container { height: 300px; width: 100%; }
.country-detail-lbl { font-weight: 700; }
.subcountry-detail-lbl {
  @extend .country-detail-lbl;
  text-decoration: underline;
}

/* Overrides */
.md-headline { width: 100%; }

/* Medium Devices, Desktops */
@media only screen and (min-width : 768px) {
  .search-container {
    height: 400px;
  }

  .angular-google-map-container {
    height: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}