<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Countries and Intl Affairs</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=yes">

    <link href="css/reset.css" rel="stylesheet" type="text/css" media="all">
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="bower_components/nvd3/build/nv.d3.min.css">

    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
    <link href="css/animations.css" rel="stylesheet" type="text/css" media="all">
    <link href="css/styles.css" rel="stylesheet" type="text/css" media="all">

    <script src="bower_components/angular/angular.min.js" type="text/javascript"></script>
</head>
<body ng-controller="TopCtrl">

    <!-- Top Nav/Toolbar -->
    <md-content>
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <h2>
                    <span>Countries and Intl Affairs</span>
                </h2>
            </div>
        </md-toolbar>
    </md-content>

    <!-- Map/Sort Buttons -->
    <div layout="column" layout-gt-sm="row" layout-align="center center" class="top-container-buttons">
        <a ui-sref="map" ui-sref-active="selected">
            <div flex>
                Find w/ Map
            </div>
        </a>
        <a ui-sref="search" ui-sref-active="selected">
            <div flex>
                Find Through Sort
            </div>
        </a>
    </div>

    <!-- States appear in ui-view below including the map container and the country sorting options -->
    <div ui-view></div>

    <!-- Below is where the various country information is displayed
         The div immediately below this only serves to hide the country information
          until a country has been chosen-->
    <div ng-if="country.name" id="country-info" ng-cloak>
        <div layout="column" layout-gt-sm="row" layout-margin>
            <!--
                General Info
                - flag and map image
                - country.generalInfo
                - country.region
                - country.subregion
                - country.climate
                - country.languages
                (possibly make 100% width?)
            -->
            <md-card flex-gt-sm="50">
                <md-card-title>
                    <span class="md-headline">
                        {{country.name}}
                        <img class="country-flag" ng-src="images/flags/{{country.factbookCode}}-lgflag.gif">
                    </span>
                </md-card-title>
                <md-card-content>
                    <div class="info-block">
                        <span class="country-detail-lbl">Capital</span>:
                        {{country.capital}}
                    </div>

                    <div class="info-block">
                        <span class="country-detail-lbl">General</span>:
                        <span>{{country.generalInfo}}</span>
                        <img class="country-map" ng-src="images/maps/{{country.factbookCode}}-map.gif">
                    </div>

                    <div class="info-block">
                        <span class="country-detail-lbl">Climate</span>:
                        <span>{{country.climate}}</span>
                    </div>

                    <div class="info-block">
                        <span class="country-detail-lbl">Languages</span>:
                        <ul>
                            <li ng-repeat="lang in country.languages">
                                {{lang.language}} {{lang.percentPop}}
                            </li>
                        </ul>
                    </div>
                </md-card-content>
            </md-card>

            <!--
                Government
                - country.govType
                - country.leaders
                - country.borders
                - country.capital
            -->
            <md-card flex-gt-sm="50">
                <md-card-title>
                    <span class="md-headline">Government</span>
                </md-card-title>
                <md-card-content>
                    <!-- Content goes here -->

                </md-card-content>
            </md-card>
        </div>

        <div layout="column" layout-gt-sm="row" layout-margin>
            <!--
                Economy
                - country.stats.gdp
                - country.tradesWith
            -->
            <md-card flex>
                <md-card-title>
                    <span class="md-headline">Economy</span>
                </md-card-title>
                <md-card-content>
                    <!-- Content goes here -->


                </md-card-content>
            </md-card>
        </div>

        <div layout="column" layout-gt-sm="row" layout-margin>
            <!--
                War/Peace
                - country.conflicts
                - country.treaties
                (maybe share 50% with government?)
            -->
            <md-card flex>
                <md-card-title>
                    <span class="md-headline">War/Peace</span>
                </md-card-title>
                <md-card-content>
                    <!-- Content goes here -->


                </md-card-content>
            </md-card>
        </div>

        <div layout="column" layout-gt-sm="row" layout-margin>
            <!--
                Stats
                - country.stats.population
                - country.stats.expectancy
                - country.stats.co2
                - country.migration.immigration
                - country.migration.emigration
            -->
            <md-card flex>
                <md-card-title>
                    <span class="md-headline">Stats</span>
                </md-card-title>
                <md-card-content>
                    <!-- Content goes here -->
                    <div class="info-block">
                        <span class="country-detail-lbl">TOP10 Immigrants Countries</span>:
                        <ul>
                            <li ng-repeat="c in country.immigrants">
                                {{c.origCtry}}, {{c.ttlAmt}}
                            </li>
                        </ul>
                    </div>


                </md-card-content>
            </md-card>
        </div>
    </div>

<script src="bower_components/ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/angular-scroll/angular-scroll.min.js" type="text/javascript"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-material/angular-material.min.js"></script>
<script src="bower_components/angular-fontawesome/dist/angular-fontawesome.min.js"></script>
<script src="bower_components/lodash/dist/lodash.min.js"></script>
<script src="bower_components/angular-simple-logger/dist/angular-simple-logger.min.js"></script>
<script src="bower_components/angular-google-maps/dist/angular-google-maps.min.js"></script>
<script src="bower_components/d3/d3.min.js"></script>
<script src="bower_components/nvd3/build/nv.d3.min.js"></script>
<script src="bower_components/angular-nvd3/dist/angular-nvd3.min.js"></script>

<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
<script src="js/filters.js"></script>
<script src="js/factories.js"></script>
<script src="js/directives.js"></script>
<script src="js/controllers.js"></script>
</body>
</html>