<div layout="row">
    <div flex="50" class="search-table">
        <table>
            <thead>
            <tr>
                <th ng-click="order('conflictId')">
                    Conflict ID
                        <span ng-if="predicate == 'conflictId'">
                            <fa ng-if="!reverse" name="chevron-down"></fa>
                            <fa ng-if="reverse" name="chevron-up"></fa>
                        </span>
                </th>
                <th ng-click="order('location')">
                    Location
                        <span ng-if="predicate == 'location'">
                            <fa ng-if="!reverse" name="chevron-down"></fa>
                            <fa ng-if="reverse" name="chevron-up"></fa>
                        </span>
                </th>
                <th ng-click="order('start')">
                    Start
                        <span ng-if="predicate == 'start'">
                            <fa ng-if="!reverse" name="chevron-down"></fa>
                            <fa ng-if="reverse" name="chevron-up"></fa>
                        </span>
                </th>
                <th ng-click="order('end')">
                    End
                        <span ng-if="predicate == 'end'">
                            <fa ng-if="!reverse" name="chevron-down"></fa>
                            <fa ng-if="reverse" name="chevron-up"></fa>
                        </span>
                </th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="conflict in conflicts | orderBy:predicate:reverse" ng-click="showConflictParties(conflict)">
                    <td>{{::conflict.conflictId}}</td>
                    <td>{{::conflict.location}}</td>
                    <td>{{::conflict.start}}</td>
                    <td>{{::conflict.end}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-if="selectedConflict" flex="50" class="search-sub-table">
        <div layout="column">
            <div flex class="sub-header">
                <div>
                    <span class="country-detail-lbl">Conflict Id</span>: {{selectedConflict.conflictId}}
                </div>
                <div>
                    <span class="country-detail-lbl">Location</span>: {{selectedConflict.location}}
                </div>
                <div>
                    <span class="country-detail-lbl">Start</span>: {{selectedConflict.start}}
                </div>
                <div>
                    <span class="country-detail-lbl">End</span>: {{selectedConflict.end}}
                </div>
            </div>
            <div flex class="sub-body">
                <div layout="row">
                    <div flex="50">
                        <h4 class="subcountry-detail-lbl">Side A</h4>
                        <div ng-repeat="c in countries.sideA" >
                            <span ng-if="c.countryName" ng-click="getCountryInfo(c.countryName)" class="country-link">{{::c.countryName}}</span>
                            <span ng-if="c.partyName">{{::c.partyName}}</span>
                        </div>
                    </div>
                    <div flex="50">
                        <h4 class="subcountry-detail-lbl">Side B</h4>
                        <div ng-repeat="c in countries.sideB" >
                            <span ng-if="c.countryName" ng-click="getCountryInfo(c.countryName)" class="country-link">{{::c.countryName}}</span>
                            <span ng-if="c.partyName">{{::c.partyName}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>