<div layout="row" class="top-container">
    <div flex="20">
        <a ui-sref="search.conflicts"><div class="list-by-attr" layout="row" layout-align="center center"><span>Conflicts</span></div></a>
        <a ui-sref="search.countries"><div class="list-by-attr" layout="row" layout-align="center center"><span>Countries/Territories</span></div></a>
        <a ui-sref="search.languages"><div class="list-by-attr" layout="row" layout-align="center center"><span>Languages</span></div></a>
        <a ui-sref="search.treaties"><div class="list-by-attr" layout="row" layout-align="center center"><span>Treaties</span></div></a>
    </div>
    <div flex="80">
        <div ui-view></div>
    </div>
</div>