<div layout="row">
    <div flex>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Region</th>
                    <th>Subregion</th>
                    <th>GovType</th>
                    <th>Population (2014)</th>
                    <th>Life Expectancy (2013)</th>
                    <th>GDP (2014)</th>
                    <th>CO2 (2011)</th>
                    <th>Emigration (2015)</th>
                    <th>Immigration (2015)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>